body {
    text-align: center;
    background-color: red;
}


#test{
    background-color: white;
}



.footer {
    margin: 0px;
    padding: 0px;
    background-color: rgba(211, 211, 211, 0.644);
    height: 600px;
    text-align: center;
}