body {
    text-align: center;
    background-color: red;
}

#test {
    background-color: white;
}

.footer {
    margin: 0px;
    padding: 0px;
    background-color: black;
    height: 450px;
    text-align: center;
    color: darkslategrey;
}

.footer a:link {
    text-decoration: none;
    color: goldenrod;
}

.footer a:visited {
    color: darkslategrey;
}

#c_value {}