doctype html
html
	head
		title= title
		style(rel='stylesheet',href='static/css/home.css')

	body
		p.class Hello World of Node JS kk
		button#test(onclick='test') Submit
		
		script(type="text/javascript",scr='static/js/hml.js')
			

	footer
		p This the footer (c).
