doctype html5
html
	head
		title= title
		link(rel='stylesheet',href='static/css/home.css')
		link(rel='stylesheet',href='static/bower_files/bootstrap/dist/css/bootstrap.css')

	body.container
		
		div.container
			div#c_response

		div#graph

		div#time_f
		div.coinainer

			select#cc_value(onchange='send_data()')
				each cc in ccoin_names
					option(value=cc.Name)= cc.FullName
					
			select#c_value(onchange='send_data()')
				each c in coin_names
					option(value=c)= c
					
		form#test(onclick='time_f()')
			input(type="radio" name="time" value='week')
			| Week 
			input(type="radio" name="time" value='month') 
			| Month 
			input(type="radio" name="time" value='year') 
			| Year 



		script(src='static/js/xml.js')
			

	footer.footer
		p This the footer (c).
		
