doctype html5
html
	head
		title= title
		link(rel='stylesheet',href='static/css/home.css')
		link(rel='stylesheet',href='static/bower_files/bootstrap/dist/css/bootstrap.css')

	body

		div.container
			div#c_response

		form#test.container(onclick='time_f()')
			input(type="radio" name="time" value='week' checked='')
			| Week 
			input(type="radio" name="time" value='month') 
			| Month 
			input(type="radio" name="time" value='6months') 
			| 6 months 
			input(type="radio" name="time" value='year') 
			| Year 

		div#time_f.container
			canvas#myChart
		div.container

			select#cc_value(onchange='time_f()')
				each cc in ccoin_names
					option(value=cc.Name)= cc.FullName

			select#c_value(onchange='time_f()')
				each c in coin_names
					option(value=c)= c



		script(src="/static/bower_files/chart.js/dist/Chart.min.js")
		script(src="/static/bower_files/chart.js/dist/Chart.js")
		script(src='static/js/xml.js')
	footer.footer
		p This the footer (c).
		a(href='#') Details
		br
		a(href='#') Who we are
