doctype html5
html
	head
		title= title
		link(rel='stylesheet',href='static/css/home.css')
		link(rel='stylesheet',href='static/bower_files/bootstrap/dist/css/bootstrap.css')
		link(rel='stylesheet' href='/206CDE/node_modules/cryptocoins-icons/webfont/cryptocoins.css')
	body
		div.container
			div#c_response

		form#test.container(onclick='time_f()')
			input(type="radio" name="time" value='week' checked='')
			| Week 
			input(type="radio" name="time" value='month') 
			| Month 
			input(type="radio" name="time" value='6months') 
			| 6 months 
			input(type="radio" name="time" value='year') 
			| Year 

		div#time_f.container
			canvas#myChart
		div.container

			select#cc_value(onchange='time_f()')
				each cc in ccoin_names
					option(value=cc.Name)= cc.FullName

			select#c_value(onchange='time_f()')
				each c in coin_names
					option(value=c)= c
			
			select#gtype_value(onchange='time_f()')
				option(value="line" checked='') Line
				option(value="bar") Bar
				option(value="radar") Radar
				option(value="polarArea") Polar Area
			
			select#clr_value(onchange='time_f()')
				option(value="rgba(39,196,255,0.6)" checked='') blue
				option(value="rgba(255,0,56,0.6)") red
				option(value="rgba(119,192,99,0.6)") green
				option(value="rgba(51,57,62,0.6)") Dark
		
		div.container
			.icons
			h2 A
			i.cc.ADA(title='ADA')
			i.cc.ADA-alt(title='ADA')
			i.cc.ADC(title='ADC')
			i.cc.ADC-alt(title='ADC')
			i.cc.AEON(title='AEON')
			i.cc.AEON-alt(title='AEON')
			i.cc.AMP(title='AMP')
			i.cc.AMP-alt(title='AMP')
			i.cc.ANC(title='ANC')
			i.cc.ANC-alt(title='ANC')
			i.cc.ARCH(title='ARCH')
			i.cc.ARCH-alt(title='ARCH')
			i.cc.ARDR(title='ARDR')
			i.cc.ARDR-alt(title='ARDR')
			i.cc.ARK(title='ARK')
			i.cc.ARK-alt(title='ARK')
			i.cc.AUR(title='AUR')
			i.cc.AUR-alt(title='AUR')
			h2 B
			i.cc.BANX(title='BANX')
			i.cc.BANX-alt(title='BANX')
			i.cc.BAT(title='BAT')
			i.cc.BAT-alt(title='BAT')
			i.cc.BAY(title='BAY')
			i.cc.BAY-alt(title='BAY')
			i.cc.BC(title='BC')
			i.cc.BC-alt(title='BC')
			i.cc.BCN(title='BCN')
			i.cc.BCN-alt(title='BCN')
			i.cc.BFT(title='BFT')
			i.cc.BFT-alt(title='BFT')
			i.cc.BRK(title='BRK')
			i.cc.BRK-alt(title='BRK')
			i.cc.BRX(title='BRX')
			i.cc.BRX-alt(title='BRX')
			i.cc.BSD(title='BSD')
			i.cc.BSD-alt(title='BSD')
			i.cc.BTA(title='BTA')
			i.cc.BTC(title='BTC')
			i.cc.BTC-alt(title='BTC')
			i.cc.BCC(title='BCC')
			i.cc.BCC-alt(title='BCC')
			i.cc.BTCD(title='BTCD')
			i.cc.BTCD-alt(title='BTCD')
			i.cc.BTM(title='BTM')
			i.cc.BTM-alt(title='BTM')
			i.cc.BTS(title='BTS')
			i.cc.BTS-alt(title='BTS')
			h2 C
			i.cc.CLAM(title='CLAM')
			i.cc.CLAM-alt(title='CLAM')
			i.cc.CLOAK(title='CLOAK')
			i.cc.CLOAK-alt(title='CLOAK')
			h2 D
			i.cc.DAO(title='DAO')
			i.cc.DAO-alt(title='DAO')
			i.cc.DASH(title='DASH')
			i.cc.DASH-alt(title='DASH')
			i.cc.DCR(title='DCR')
			i.cc.DCR-alt(title='DCR')
			i.cc.DCT(title='DCT')
			i.cc.DCT-alt(title='DCT')
			i.cc.DGB(title='DGB')
			i.cc.DGB-alt(title='DGB')
			i.cc.DGD(title='DGD')
			i.cc.DGX(title='DGX')
			i.cc.DMD(title='DMD')
			i.cc.DMD-alt(title='DMD')
			i.cc.DOGE(title='DOGE')
			i.cc.DOGE-alt(title='DOGE')
			h2 E
			i.cc.EMC(title='EMC')
			i.cc.EMC-alt(title='EMC')
			i.cc.EOS(title='EOS')
			i.cc.EOS-alt(title='EOS')
			i.cc.ERC(title='ERC')
			i.cc.ERC-alt(title='ERC')
			i.cc.ETC(title='ETC')
			i.cc.ETC-alt(title='ETC')
			i.cc.ETH(title='ETH')
			i.cc.ETH-alt(title='ETH')
			h2 F
			i.cc.FC2(title='FC2')
			i.cc.FC2-alt(title='FC2')
			i.cc.FCT(title='FCT')
			i.cc.FCT-alt(title='FCT')
			i.cc.FLO(title='FLO')
			i.cc.FLO-alt(title='FLO')
			i.cc.FRK(title='FRK')
			i.cc.FRK-alt(title='FRK')
			i.cc.FTC(title='FTC')
			i.cc.FTC-alt(title='FTC')
			h2 G
			i.cc.GAME(title='GAME')
			i.cc.GAME-alt(title='GAME')
			i.cc.GBYTE(title='GBYTE')
			i.cc.GBYTE-alt(title='GBYTE')
			i.cc.GDC(title='GDC')
			i.cc.GDC-alt(title='GDC')
			i.cc.GEMZ(title='GEMZ')
			i.cc.GEMZ-alt(title='GEMZ')
			i.cc.GLD(title='GLD')
			i.cc.GLD-alt(title='GLD')
			i.cc.GNO(title='GNO')
			i.cc.GNO-alt(title='GNO')
			i.cc.GNT(title='GNT')
			i.cc.GNT-alt(title='GNT')
			i.cc.GOLOS(title='GOLOS')
			i.cc.GOLOS-alt(title='GOLOS')
			i.cc.GRC(title='GRC')
			i.cc.GRC-alt(title='GRC')
			i.cc.GRS(title='GRS')
			h2 H
			i.cc.HEAT(title='HEAT')
			i.cc.HEAT-alt(title='HEAT')
			h2 I
			i.cc.ICN(title='ICN')
			i.cc.ICN-alt(title='ICN')
			i.cc.IFC(title='IFC')
			i.cc.IFC-alt(title='IFC')
			i.cc.INCNT(title='INCNT')
			i.cc.INCNT-alt(title='INCNT')
			i.cc.IOC(title='IOC')
			i.cc.IOC-alt(title='IOC')
			i.cc.IOTA(title='IOTA')
			i.cc.IOTA-alt(title='IOTA')
			h2 J
			i.cc.JBS(title='JBS')
			i.cc.JBS-alt(title='JBS')
			h2 K
			i.cc.KMD(title='KMD')
			i.cc.KMD-alt(title='KMD')
			i.cc.KOBO(title='KOBO')
			i.cc.KORE(title='KORE')
			i.cc.KORE-alt(title='KORE')
			h2 L
			i.cc.LBC(title='LBC')
			i.cc.LBC-alt(title='LBC')
			i.cc.LDOGE(title='LDOGE')
			i.cc.LDOGE-alt(title='LDOGE')
			i.cc.LSK(title='LSK')
			i.cc.LSK-alt(title='LSK')
			i.cc.LTC(title='LTC')
			i.cc.LTC-alt(title='LTC')
			h2 M
			i.cc.MAID(title='MAID')
			i.cc.MAID-alt(title='MAID')
			i.cc.MCO(title='MCO')
			i.cc.MCO-alt(title='MCO')
			i.cc.MINT(title='MINT')
			i.cc.MINT-alt(title='MINT')
			i.cc.MONA(title='MONA')
			i.cc.MONA-alt(title='MONA')
			i.cc.MRC(title='MRC')
			i.cc.MSC(title='MSC')
			i.cc.MSC-alt(title='MSC')
			i.cc.MTR(title='MTR')
			i.cc.MTR-alt(title='MTR')
			i.cc.MUE(title='MUE')
			i.cc.MUE-alt(title='MUE')
			h2 N
			i.cc.NBT(title='NBT')
			i.cc.NEO(title='NEO')
			i.cc.NEO-alt(title='NEO')
			i.cc.NEOS(title='NEOS')
			i.cc.NEOS-alt(title='NEOS')
			i.cc.NEU(title='NEU')
			i.cc.NEU-alt(title='NEU')
			i.cc.NLG(title='NLG')
			i.cc.NLG-alt(title='NLG')
			i.cc.NMC(title='NMC')
			i.cc.NMC-alt(title='NMC')
			i.cc.NOTE(title='NOTE')
			i.cc.NOTE-alt(title='NOTE')
			i.cc.NVC(title='NVC')
			i.cc.NVC-alt(title='NVC')
			i.cc.NXT(title='NXT')
			i.cc.NXT-alt(title='NXT')
			h2 O
			i.cc.OK(title='OK')
			i.cc.OK-alt(title='OK')
			i.cc.OMG(title='OMG')
			i.cc.OMG-alt(title='OMG')
			i.cc.OMNI(title='OMNI')
			i.cc.OMNI-alt(title='OMNI')
			i.cc.OPAL(title='OPAL')
			i.cc.OPAL-alt(title='OPAL')
			h2 P
			i.cc.PART(title='PART')
			i.cc.PART-alt(title='PART')
			i.cc.PIGGY(title='PIGGY')
			i.cc.PIGGY-alt(title='PIGGY')
			i.cc.PINK(title='PINK')
			i.cc.PINK-alt(title='PINK')
			i.cc.PIVX(title='PIVX')
			i.cc.PIVX-alt(title='PIVX')
			i.cc.POT(title='POT')
			i.cc.POT-alt(title='POT')
			i.cc.PPC(title='PPC')
			i.cc.PPC-alt(title='PPC')
			h2 Q
			i.cc.QRK(title='QRK')
			i.cc.QRK-alt(title='QRK')
			i.cc.QTUM(title='QTUM')
			i.cc.QTUM-alt(title='QTUM')
			h2 R
			i.cc.RADS(title='RADS')
			i.cc.RADS-alt(title='RADS')
			i.cc.RBIES(title='RBIES')
			i.cc.RBIES-alt(title='RBIES')
			i.cc.RBT(title='RBT')
			i.cc.RBT-alt(title='RBT')
			i.cc.RBY(title='RBY')
			i.cc.RBY-alt(title='RBY')
			i.cc.RDD(title='RDD')
			i.cc.RDD-alt(title='RDD')
			i.cc.REP(title='REP')
			i.cc.REP-alt(title='REP')
			i.cc.RISE(title='RISE')
			i.cc.RISE-alt(title='RISE')
			h2 S
			i.cc.SALT(title='SALT')
			i.cc.SALT-alt(title='SALT')
			i.cc.SAR(title='SAR')
			i.cc.SAR-alt(title='SAR')
			i.cc.SCOT(title='SCOT')
			i.cc.SCOT-alt(title='SCOT')
			i.cc.SDC(title='SDC')
			i.cc.SDC-alt(title='SDC')
			i.cc.SIA(title='SIA')
			i.cc.SIA-alt(title='SIA')
			i.cc.SJCX(title='SJCX')
			i.cc.SJCX-alt(title='SJCX')
			i.cc.SLG(title='SLG')
			i.cc.SLG-alt(title='SLG')
			i.cc.SLS(title='SLS')
			i.cc.SLS-alt(title='SLS')
			i.cc.SNRG(title='SNRG')
			i.cc.SNRG-alt(title='SNRG')
			i.cc.START(title='START')
			i.cc.START-alt(title='START')
			i.cc.STEEM(title='STEEM')
			i.cc.STEEM-alt(title='STEEM')
			i.cc.STR(title='STR')
			i.cc.STR-alt(title='STR')
			i.cc.STRAT(title='STRAT')
			i.cc.STRAT-alt(title='STRAT')
			i.cc.SWIFT(title='SWIFT')
			i.cc.SWIFT-alt(title='SWIFT')
			i.cc.SYNC(title='SYNC')
			i.cc.SYNC-alt(title='SYNC')
			i.cc.SYS(title='SYS')
			i.cc.SYS-alt(title='SYS')
			h2 T
			i.cc.TRIG(title='TRIG')
			i.cc.TRIG-alt(title='TRIG')
			i.cc.TX(title='TX')
			i.cc.TX-alt(title='TX')
			h2 U
			i.cc.UBQ(title='UBQ')
			i.cc.UBQ-alt(title='UBQ')
			i.cc.UNITY(title='UNITY')
			i.cc.UNITY-alt(title='UNITY')
			i.cc.USDT(title='USDT')
			i.cc.USDT-alt(title='USDT')
			h2 V
			i.cc.VIOR(title='VIOR')
			i.cc.VIOR-alt(title='VIOR')
			i.cc.VNL(title='VNL')
			i.cc.VNL-alt(title='VNL')
			i.cc.VPN(title='VPN')
			i.cc.VPN-alt(title='VPN')
			i.cc.VRC(title='VRC')
			i.cc.VRC-alt(title='VRC')
			i.cc.VTC(title='VTC')
			i.cc.VTC-alt(title='VTC')
			h2 W
			i.cc.WAVES(title='WAVES')
			i.cc.WAVES-alt(title='WAVES')
			h2 X
			i.cc.XAI(title='XAI')
			i.cc.XAI-alt(title='XAI')
			i.cc.XBS(title='XBS')
			i.cc.XBS-alt(title='XBS')
			i.cc.XCP(title='XCP')
			i.cc.XCP-alt(title='XCP')
			i.cc.XEM(title='XEM')
			i.cc.XEM-alt(title='XEM')
			i.cc.XMR(title='XMR')
			i.cc.XPM(title='XPM')
			i.cc.XPM-alt(title='XPM')
			i.cc.XRP(title='XRP')
			i.cc.XRP-alt(title='XRP')
			i.cc.XTZ(title='XTZ')
			i.cc.XTZ-alt(title='XTZ')
			i.cc.XVG(title='XVG')
			i.cc.XVG-alt(title='XVG')
			i.cc.XZC(title='XZC')
			i.cc.XZC-alt(title='XZC')
			h2 Y
			i.cc.YBC(title='YBC')
			i.cc.YBC-alt(title='YBC')
			h2 Z
			i.cc.ZEC(title='ZEC')
			i.cc.ZEC-alt(title='ZEC')
			i.cc.ZEIT(title='ZEIT')
			i.cc.ZEIT-alt(title='ZEIT')



	script(src="/static/bower_files/chart.js/dist/Chart.min.js")
	script(src="/static/bower_files/chart.js/dist/Chart.js")
	script(src='static/js/xml.js')
	footer.footer
		p This the footer (c).
		a(href='#') Details
		br
		a(href='#') Who we are
