doctype html
static home
html

	head
		style
			include home.css
		title= title


	body
		p.class Hello World of Node JS kk
		button#test(onclick='test') Submit
		
		
		script 
			include hml.js
	footer
		p This the footer.
	
