doctype html5
html
	head
		title= title
		link(rel='stylesheet',href='static/css/home.css')
		link(rel='stylesheet',href='static/bower_files/bootstrap/dist/css/bootstrap.css')

	body.container
		p Hello World of Node JS kk
		button#test(onclick='test()')  Submit 0
		button#test1(onclick='test1()') Submit 1
		
		script(src='static/js/hml.js')
			
			

	footer
		p This the footer (c).
