doctype html5
html
	head
		title= title
		link(rel='stylesheet',href='static/css/home.css')
		link(rel='stylesheet',href='static/bower_files/bootstrap/dist/css/bootstrap.css')

	body.container
		div#hml_test
		button#hml.btn(onclick='change_function()')  hml
		
		p #{names}
		select#opt(onchange='select(this)')
			option(value='js') Javascript
			option(value='c#') c#
			option(value='php') php
			option(value='c++') c++
			option(value='python') python
		
				
		
		script(src='static/js/hml.js')
			

	footer
		p This the footer (c).
		
