extends base.pug

div.container

	button(type='button') Register
	button(type='button') Log In
	form
		p
			input(type='text' name='username' placeholder='Username')
		p
			input(type='password' name='password' placeholder='Password')
		p
			button.btn.btn-primary(type='button') Log In
  
	div
		form
			p Username 
				input(type='text' name='username' placeholder='Username')
			p Password
				input(type='password' name='Password' placeholder='Password')
			p Repeat Password
				input(type='password' name='Password' placeholder='Password')
			p email
				input(type='email' name='Password' placeholder='example@example.ac.uk')

	